.joomd_blog_lis_p ul.items { padding:0px; margin:0px;}
.joomd_blog_lis_p ul.items li{list-style:none; width:225px; margin-bottom:10px;box-shadow:rgba(0,0,0,0.1) 0px 0px 2px; margin-right:15px; float:left; overflow:hidden; padding-bottom:8px; line-height:16px;}
.joomd_blog_lis_p ul.items li h4{margin:0px 0px 5px; padding:0px; line-height:18px; font-size:12;}
.joomd_blog_lis_p ul.items li h4 a{font-size:15px; line-height:15px;}
.joomd_blog_lis_p ul.items li  .item-title, .joomd_blog_lis_p ul.items li .sdetail{padding:0 5px;}
.joomd_blog_lis_p ul.items li .date_for{font-size:11px; font-style:italic; padding:0px 5px;}
.joomd_blog_lis_p ul.items li .item-image{ display:block;}
.joomd_blog_lis_p ul.items li .item-image img{padding:5px; border-radius:3px; width:215px; height:150px;   background:#fff; box-shadow:rgba(205,205,205,0.5) 0px 0px 10px inset;
}
.joomd_blog_lis_p ul.items li .cat_p{padding-bottom:6px;}
.joomd_blog_lis_p ul.items li .cat_p span{padding:0px 15px 0px 0px;
}